<% yearly_interpretation = @card.interpretations.where(reading: @header ||"yearly").last&.explanation%>
<% crousel_text = filter_text(yearly_interpretation)%>
<div class="wrapper">
  <div class="owl-carousel owl-theme image-slider" id="Testcarousel">
   <%= simple_format(crousel_text) %>
  </div>
</div>
