
<div id="myModal" class="modal">
  <div class="modal-content">
    <%= render partial: "guidances/payment", locals: { client_token: @client_token } %>
    <button style="float: right;" onclick="document.getElementById('myModal').style.display='none'" class="close-button">Close</button>
  </div>
</div>
