<div class="flexcard">
 <%= card_reading_pane @birthday.card_for_today, :daily, marketing_text('heading', 'member', 'daily', 'header'), marketing_text('heading', 'daily', 'subheader') %>
  <%= card_reading_pane @birthday.card_for_this_planet, :planetary, marketing_text('heading', 'member', 'planetary', 'header'), marketing_text('heading', @querent, 'planetary', 'subheader')  %>
  <%= card_reading_pane @birthday.card_for_this_year, :yearly, marketing_text('heading', 'member', 'yearly', 'header'), marketing_text('heading', @querent, 'yearly', 'subheader') %>
</div>
<br>
<style>
  .flexcard{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 41px;
  }
  .card_reading_pane{
    width: 30%;
  }
  .card_face_image {
    float: right;
    margin: 5px;
    width: 120px;
    border-radius: 5px;
   }
  .flexcarditems{
    clear: both;
  }
  .name_of_card{
    text-align: right;
    font-weight: bold;
  }
</style>


