<p>
  Join us in the Salon.
</p>

<p>
  <%= link_to 'Access the Salon' ENV['PLAYERS_CLUB_SALON_URL'] %>
</p>

<p>
  The Salon is the space for your detailed questions and discussions.  Enjoy!
</p>

<p>
  And remember to live your life like it's your favorite game to play!
</p>

<p>
  with love, 
  <br>
  your Life Elevated Teammates
</p>
