<p>
  Welcome to the Players Club.  Welcome to the game of your life.
</p>
<p>
  We are excited you decided to play with us.  Life is a game that is more fun when we all play together.
</p>
<p>
  Here is your temporary password to login when you return: <%= @password %>
</p>
<p>
  <%= link_to 'http://lifeelevated.life', 'http://lifeelevated.life' %>
</p>
<p>
  You can always reset this password if you wish by simply following the Reset Password link under the Returning Players login.  
</p>
<p>
  And remember to live your life like it's your favorite game to play!
</p>
<p>
  with love, your Life Elevated Teammates
</p>
