<p>
  Hi there and thanks for joining us in the Life Elevated Players Club.
</p>

<p>
  We want to let you know that we've encountered a problem trying to charge the Credit Card you listed for payment.
</p>

<p>
  We were unable to process the Credit Card Number as entered.
</p>

<p>
  And because we know you want to find out what's in the cards for you, we encourage you to return to the Players Club and re-enter your Credit Card information so that you can play your cards right each and every day.
</p>

<p>
  Here's the link: <%= link_to 'https://www.lifeelevated.life/players/', 'https://www.lifeelevated.life/players/' %>
</p>

<p>
  See you back in the game.
</p>

<p>
  with love,
  Your Players Club Team
</p>
