<%= content_tag :div, class: "wheel" do %>
  <% rim_types = [:thirteen_year, :seven_year, :year, :planetary, :daily] %>
  
  <% rim_types.each do |rim_type| %>
    <div class="wheel-rim-container">
      <%= wheel_rim(instance_variable_get("@#{rim_type}_cards"), rim_type) %>
    </div>
  <% end %>
<% end %>
