// Place all the styles related to the birthdays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reading_display_container {
  text-align: center;
}

.member_form_container {
  text-align: center;
  
  .reading_display_container {
    width: 450px;
  }
  
  #players_club_logo {
    float: right;
    padding: 8px;
    width: 140px;
  }
}

.birthday {
  width: 900px;
  display: inline-block;
  text-align: left;
  
  .birthdate {
    padding-bottom: 16px;
  }
  
  .card_reading_pane {
    vertical-align: top;
    width: 330px;
  }
  
  .card_preview {
    width: 330px;
  }
  
  div {
    header {
      font-weight: bold;
      font-size: 2em;
      padding: 10px 0px;
    }
    
    header.subtitle {
      font-size: 1.1em;
      padding-bottom: 16px;
    }
    
    .preview_of_card {
      float: right;
      padding-left: 12px;
      
      .card_face_image {
        width: 120px;
      }
    }
    
    .identification_of_card {
      float: right;
      padding-left: 12px;
      font-weight: bold;
      
      .name_of_card {
        font-family: 'Open Sans Condensed';
        text-align: center;
        margin-bottom: 5px;
      }
      
      .card_face_image {
        width: 120px;
        border-radius: 5px;
      }
      
      .opportunities_on_card {
        margin-top: -6px;
        margin-left: 10px;
        padding: 10px;
        width: 80px;
        background-color: #86D1DC;
      }
    }
    
    .explication_of_card {
      line-height: 1.45em;
      
      p {
        margin-top: 0;
      }
    }
    
    a {
      
      &.zodiac_selection, &.zodiac_email {
        color: #e8830c;
        text-decoration: none;
      }
      
      &.trailing.call_to_action {
        display: block;
        margin-bottom: 16px;
      }
    }
  }
}

#logout_link {
  position: absolute;
  top: 8px;
  right: 8px;
}

#upgrade_button {
  position: absolute;
  top: 58px;
  right: 8px;
}

.monthly_price_of_card {
  padding: 10px;
  color: white;
  background-color: #2F98D9;
}

.sales_pitch {
  .instructions {
    display: inline-block;
    width: 60%;
  }
  
  .access {
    display: inline-block;
  }
}
