.quote_single {
  color: #999;
    
  .poignant_quote {
    font-style: italic;
    font-size: 1.2em;
  }
  
  .poignant_person {
    padding: 9px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.86em;
  }
}
