.member_form_container {
  text-align: center;
  
  >div {
    vertical-align: top;
    display: inline-block;
  }
  
  #players_club_membership_form {
    text-align: left;
    width: 368px;
  }
}

.joining_players_club {
  cursor: pointer;
}

#signup {
  text-align: center;
  
  form.member_signup_credential_entry {
  
    input {
      font-size: 1.0em;
      line-height: 1.5em;
      width: 90%;
      margin-bottom: 15px;
    }
  
    input#submit {
      cursor: pointer;
    }
  
    label.error {
      display: block;
      padding-left: 10px;
    }
  }
}

span.terms {
  font-size: 0.8em;
}

#landing,
#password_control {
  min-height: 600px;
}

#password_control {
  text-align: center;
}

header {
  font-size: 1.5em;
  font-weight: bold;
}

header.call_to_action {
  font-size: 1.1em;
  font-weight: normal;
}

#landing {
  text-align: center;
}

#new_players {
  vertical-align: top;
  display: inline-block;
  height: 400px;
  width: 270px;
  margin: 20px;
  padding-top: 16px;
  
  #new_players_header {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  header {
    margin-bottom: 25px;
  }
}

.submission {
  display: inline-block;
}

#returning_players {
  text-align: center;
  margin: 20px;
  height: 390px;
  width: 270px;
  
  form#new_member {
    text-align: left;
    
    input {
      margin: 22px 0px 8px 0px;
    }
    
    label {
      font-size: 16px;
    }
    
    .actions {
      text-align: center;
      
      #login_submit_button {
        margin-top: 0px;
      }
    }
  }
}

input.spacious {
  padding: 2px;
  border: 1px solid #bbb;
  border-radius: 5px;
  font-size: 20px;
//  font-family: 'Roboto Condensed';
  color: #4e4e4e;
  background-color: #fff;
}
