.braintree_container {
  display: none;
}

#cancellation_policy {
  padding: 25px;
  font-size: 0.85em;
}

.subscription_management_for_member {
  text-align: right;
  font-size: 0.7em;
  
  a {
    text-decoration: none;
    color: #96004F;
    margin-left: 30px;
  }
}

#subscribe_button {
  font-size: 1em;
  color: white;
  background-color: #E8830C;
  border-radius: 10px;
  height: 42px;
  width: 100%;
  border: none;
  margin-bottom: 15px;
}
