@media (min-width: 1050px) {
  :root {
    --card-box-width: 330px;
    --half-card-box-width: calc(var(--card-box-width) / 2);
    --octagon-z-index: calc(var(--card-box-width));
    --octagon-z-index-front: calc(var(--card-box-width) * 1.21421);
  }  
}

@media(max-width: 1049px) {
  :root {
    --card-box-width: 88vw;
    --half-card-box-width: calc(var(--card-box-width) / 2);
  }  
}

.four_sided_box {
  .boxpanel {
    width: var(--card-box-width);
    height: 750px;
    perspective: 1200px;
    transform-style: preserve-3d;
    
    .source_cards_card_design {
      width: var(--card-box-width);
      border-radius: 29px;
    }
  }

  .surface-wrapper {
    width: var(--card-box-width);
    height: 750px;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(calc(var(--half-card-box-width) * -1)) rotateY(180deg);
    transition: all 2.1s ease-in-out;
  }

  .surface {
    position: absolute;
    width: 100%;
    height: 670px;
    backface-visibility: hidden;
  }

  .alpha {
    transform: rotateY(180deg) translateZ(var(--half-card-box-width));
  }

  .beta {
    transform: rotateY(-90deg) translateZ(var(--half-card-box-width));
  }

  .gamma {
    transform: rotateY(0deg) translateZ(var(--half-card-box-width));
  }

  .delta {
    transform: rotateY(90deg) translateZ(var(--half-card-box-width));
  }
}

.eight_sided_box {
  .boxpanel {
    width: var(--card-box-width);
    height: 750px;
    perspective: 1200px;
    transform-style: preserve-3d;
    
    .source_cards_card_design {
      width: var(--card-box-width);
      border-radius: 29px;
    }
  }

  .surface-wrapper {
    width: var(--card-box-width);
    height: 750px;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(calc(var(--half-card-box-width) * -0.92388)) rotateY(0deg);
    transition: all 2.1s ease-in-out;
  }

  .surface {
    position: absolute;
    width: 100%;
    height: 670px;
    backface-visibility: hidden;
    transition: all 2.1s ease-in-out;
  }

  .alpha {
    transform: rotateY(0deg) translateZ(var(--octagon-z-index));
  }

  .beta {
    transform: rotateY(45deg) translateZ(var(--octagon-z-index));
  }

  .gamma {
    transform: rotateY(90deg) translateZ(var(--octagon-z-index));
  }

  .delta {
    transform: rotateY(135deg) translateZ(var(--octagon-z-index));
  }

  .epsilon {
    transform: rotateY(180deg) translateZ(var(--octagon-z-index));
  }

  .zeta {
    transform: rotateY(225deg) translateZ(var(--octagon-z-index));
  }

  .eta {
    transform: rotateY(270deg) translateZ(var(--octagon-z-index));
  }

  .theta {
    transform: rotateY(315deg) translateZ(var(--octagon-z-index));
  }

  .angle_indicator {
    width: 170px;
    height: 20px;
    background-color: #fff;
    border-radius: 6px;
    font-weight: bold;
  }
}