// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img.image_gallery {
  width: 160px;
}

.panel {
  vertical-align: top;
  margin-left: 8px;
//  width: 48%;
  perspective: 600px;
}

.delivery_zone {
  width: 25%;
}

/* -- make sure to declare a default for every property that you want animated -- */
/* -- general styles, including Y axis rotation -- */
.panel .front {
  z-index: 900;

  transform: rotateX(0) rotateY(0);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: all .8s ease-in-out;
}
.panel.flip .front {
  z-index: 900;
  transform: translate3d(0, 0, -1px) rotateY(179deg);
}

.panel .back {
  z-index: 800;

  transform: translate3d(0, 0, -1px) rotateY(-179deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: all .8s ease-in-out;
}

.owl-carousel .owl-item img {
  backface-visibility: hidden !important;
  will-change: transform;
}

#guidance_zone .panel .back {
  width: 330px;
}

.panel.flip .back {
  z-index: 1000;
  height: auto;

  transform: translate3d(0, 0, 0) rotateY(0);
}

.panel .back img.reveal {
  opacity: 0;
  transition: opacity 1.8s ease-in;
}

.panel.flip .back img.reveal {
  opacity: 1;
  transition-delay: 0.8s; // Delay the reveal until after the flip animation
}
