form#new_birthday {
  text-align: center;
  #look_up_cta {
    font-size: 1.5em;
    padding-bottom: 12px;
  }
  
  select {
    -webkit-appearance: none;
    height: 40px;
    font-size: 18px;
    padding: 5px;
    color: #0e45c4;
  }
}
