.body {
  background-image: asset-url('StarField.jpg');
  background-size: cover;
}

.wheel {
  // display: flex;
  // justify-content: center;

  .wheel-rim {
    display: flex;
    // justify-content: center;

    .wheel-rim-card {
      padding: 10px;

      img {
        width: 100px;
      }
    }
  }
}

.delivery_zone {
  display: flex;
  justify-content: center;
}

.panel {
  display: flex;
  justify-content: center;
  vertical-align: top;
  margin-left: 8px;  
}

#access_card_delivery_zone {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  .delivery_zone {
    display: inline-block;
  }
}

#guidance_zone {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 310px) and (max-width: 767px) {
  #access_card_delivery_zone{
    flex-direction: column;
    align-items: center; 
  }

  .panel .back {
    margin-left: auto;
    margin-right: auto;
  }
}

.panel .front {
  float: none;
  position: absolute;
  top: 0;
}

.panel .back {
  float: none;
  position: relative;
  top: 0;
  left: 0;
}

.panel.flip {
  .back {
    .pane_guidance {
      display: inline-block !important;
     }
  }
}

#zodiac_center_holder {
  display: flex;
  justify-content: center;
}

div#right_now_zodiac {
  a.zodiac_selection {
    display: flex;
    justify-content: space-evenly;
  }
}

@media (max-width: 991px) {
  .desktop-only {
    display: none;
  }
}

@media (min-width: 992px) {
  .mobile-tablet-only {
    display: none;
  }
}

.desktop-only.button_daily_card {
  margin-top: 10px;
}
