@media only screen and (min-width: 310px) and (max-width: 767px) {
  #access_card_delivery_zone .delivery_zone .title_line {
    margin: -8px auto;
  }
}

img.image_gallery {
  width: 160px;
}

#guidance_zone .panel .back {
  width: 330px;
}

.spade_logo {
  width: 33px;
}


// Braintree interface - not in use 2024
.buy-button {
  text-align: center;
  margin-top: 4%;
  margin-bottom: 2%;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .buy-button {
    text-align: center;
    margin-top: 9%;
  }
}
