.mobile-tablet-only.button_daily_card, .desktop-only.button_daily_card {
  font-size: 18px;
}

.call_to_subscription {
  font-size: 20px;
  text-align: center;
  margin: 1px;
}

.copyright-txt {
  text-align: center;
  font-size: 16px;
  color: grey;
  margin-bottom: -6px;
  margin-top: 3px;
  text-shadow: 1px 2px 3px rgb(156, 156, 169);
}
