// Place all the styles related to the birthdays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form#new_birthday {
  text-align: center;
}

#results {
  text-align: center;
}


.birthday {
  width: 440px;
  
  font-family: Helvetica;
  & > div {
    padding: 20px;
  }
  
  div {
    header {
      font-weight: bold;
      padding: 10px;
    }
    
    .identification_of_card {
      float: right;
      .card_face_image {
        width: 120px;
      }
      
      .opportunities_on_card {
        margin-left: 10px;
        padding: 10px;
        width: 80px;
        background-color: #86D1DC;
        
        .monthly_price_of_card {
          padding: 10px;
          color: white;
          background-color: #2F98D9;
        }
      }
    }
    
    .explication_of_card {
      padding: 8px;
    }
    
    a {
      text-decoration: none;
      color: #48C5DC;
    }
  }
}

.clearboth {
  clear: both;
}
