// Place all the styles related to the birthdays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form#new_birthday {
  text-align: center;
  
  #look_up_cta {
    font-size: 1.5em;
    padding-bottom: 12px;
  }
}

#results {
  text-align: center;
}

.reading_display_container {
  text-align: center;
}

.birthday {
  width: 440px;
  display: inline-block;
  text-align: left;
  
  .birthdate {
    padding-bottom: 16px;
  }
  
  div {
    header {
      font-weight: bold;
      font-size: 2em;
      padding: 10px 0px;
    }
    
    header.subtitle {
      font-size: 1.1em;
      padding-bottom: 16px;
    }
    
    .identification_of_card {
      float: right;
      padding-left: 12px;
      .card_face_image {
        width: 120px;
      }
      
      .opportunities_on_card {
        margin-left: 10px;
        padding: 10px;
        width: 80px;
        background-color: #86D1DC;
      }
    }
    
    .explication_of_card {
      line-height: 1.45em;
      
      p {
        margin-top: 0;
      }
    }
    
    a {
      text-decoration: none;
      color: #E8830C; //#48C5DC;
    }
  }
}

.monthly_price_of_card {
  padding: 10px;
  color: white;
  background-color: #2F98D9;
}

.sales_pitch {
  .instructions {
    display: inline-block;
    width: 60%;
  }
  
  .access {
    display: inline-block;
  }
}

.clearboth {
  clear: both;
}
