// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img.image_gallery {
  width: 160px;
}

.pane {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid black;
  border-radius: 50px;
  padding: 20px 35px;
  margin: 10px 20px 20px 20px;
}

.birthday .pane header.preview_header {
  font-size: 1.5em;
  
  &#personality_preview_header {
    font-size: 1.3em;
  }
}

.panel {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-left: 8px;
  width: 48%;
  -webkit-perspective: 600px;
          perspective: 600px;
}

.delivery_zone {
  width: 25%;
}

/* -- make sure to declare a default for every property that you want animated -- */
/* -- general styles, including Y axis rotation -- */
.panel .front {
  float: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;

  -webkit-transform: rotateX(0) rotateY(0);
          transform: rotateX(0) rotateY(0);

  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;

  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;

  /* -- transition is the magic sauce for animation -- */
  -webkit-transition: all .8s ease-in-out;
          transition: all .8s ease-in-out;
}
.panel.flip .front {
  z-index: 900;

  -webkit-transform: rotateY(179deg);
          transform: rotateY(179deg);
}
.panel.skip .front {
  z-index: 900;

  -webkit-transform: rotateY(-179deg);
          transform: rotateY(-179deg);
}

.panel .back {
  float: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 800;

  -webkit-transform: rotateY(-179deg);
          transform: rotateY(-179deg);

  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;

  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;

  /* -- transition is the magic sauce for animation -- */
  -webkit-transition: all .8s ease-in-out;
          transition: all .8s ease-in-out;
}

.panel.flip .back {
  z-index: 1000;
  height: auto;

  -webkit-transform: rotateX(0) rotateY(0);
          transform: rotateX(0) rotateY(0);
}

.panel .fore {
  float: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 800;

  -webkit-transform: rotateY(179deg);
          transform: rotateY(179deg);

  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;

  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;

  /* -- transition is the magic sauce for animation -- */
  -webkit-transition: all .8s ease-in-out;
          transition: all .8s ease-in-out;
}

.panel.skip .fore {
  z-index: 1000;
  height: auto;

  -webkit-transform: rotateX(0) rotateY(0);
          transform: rotateX(0) rotateY(0);
}

.pane_guidance{
  display: none !important;
}
.panel.flip{
  .back{
    .pane_guidance{
      display: inline-block !important;
     }
   }
}