.widget_heading {
  border: 2px solid black;
  border-radius: 11px;
  background-color: black;
  opacity: 0.8;
  margin: 10px 25% 10px 25%;
  
  
  #widget_title {
    font-size: 2em;
    text-align: center;
    color: bisque;
    text-shadow: 0px 5px 4px #448;
  }
  
  #widget_instructions {
    text-align: center;
    color: bisque;
    text-shadow: 0px 3px 4px #448;
  }
}

#access_card_delivery_zone {
  display: flex;
  align-items: center;
  justify-content: center;
  
  .panel {
    display: block;
  }
  
  .delivery_zone {
    display: inline-block;
    text-align: center;
    
    img {
      width: 240px;
      border-radius: 11px;
    }
    
    .title_line {
      text-align: center;
      width: 200px;
      border: 2px solid black;
      border-radius: 11px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      padding: 4px;
      font-family: 'Abel';
      font-size: 19px;
      color: bisque;
      background-color: black;
      opacity: 0.8;
      margin-top: -5px;
      margin-left: 14px;
    }
    
    a.nodeco {
      text-decoration: none;
    }
  }
}
