// The enclosing iframe is set at 1200 wide and 800 tall.

.widget_heading {
  border: 2px solid black;
  border-radius: 11px;
  background-color: black;
  opacity: 0.8;
  margin: 14px 30% 14px 30%;
  padding-top: 7px;
  padding-bottom: 7px;
  #widget_title {
    text-align: center;
    color: bisque;
    text-shadow: 0px 5px 4px #448;
  }
  
  #widget_instructions {
    text-align: center;
    color: bisque;
    text-shadow: 0px 3px 4px #448;
    // font-size: 18px;
  }
}
#widget_instructions br {
  display: none;
}

@media screen and (max-width: 600px) {
  #widget_instructions br {
    display: block;
  }
}
@media only screen and (max-width: 767px) {

  #widget_title {
    font-size: 28px;
  }
  #widget_instructions {
    font-size: 25px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1900px) {
  #widget_title {
    font-size: 35px;
  }
  #widget_instructions {
    font-size: 22px;
  }
}

.widget_heading_2 {
  border: 2px solid black;
  border-radius: 11px;
  background-color: black;
  opacity: 0.8;
  margin: 10px 30% 11px 30%;
  margin-top: 1px;
  margin-bottom: 30px;
  
  #widget_title_2 {
    font-size: 52px;
    text-align: center;
    color: bisque;
    text-shadow: 0px 5px 4px #448;
    margin-top: -4px;
  }
  
  #widget_instructions_2 {
    text-align: center;
    color: bisque;
    text-shadow: 0px 3px 4px #448;
  }
}

@media only screen and (max-width: 767px){
  .widget_heading_2 {
      margin: 10px 0;
      font-size: 20px;
      margin-bottom: 22px;
  }
  #widget_instructions_2 {
    text-align: center;
    color: bisque;
    text-shadow: 0px 3px 4px #448;
    font-size: 20px;
  }
}
#birthday_selection_tool {
  padding: 18px;
  // margin-left: -40px;

  #new_birthday input[type="submit"] {
    margin-top: 12px;
    width: 146px;
    font-size: 1em;
    background-color: #0e45c4;
    color: white;
    border-radius: 20px;
    border-color: white;
  }
  
  #birthday_date_1i {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px){
  #birthday_selection_tool {
    padding: 18px;
    margin-left: -4px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1920px) and (min-height: 768px) and (max-height: 1080px) {
 #access_card_delivery_zone{
//    margin-left: 78.5px;
  }
}

#access_card_delivery_zone {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  .panel {
    display: block;
  }
  
  .delivery_zone {
    display: inline-block;
    text-align: center;
    img {
      width: 240px;
      border-radius: 24px;
    }
    .back img {
      border-radius: 11px;
    }
    
    .title_line {
      text-align: center;
      width: 200px;
      border: 2px solid black;
      border-radius: 11px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      padding: 4px;
      font-family: 'Abel';
      font-size: 19px;
      color: bisque;
      background-color: black;
      opacity: 0.8;
      margin-top: -8px;
      margin-left: auto;
      margin-right: auto;
    }
    
    a.nodeco {
      text-decoration: none;
    }
  }
}

.test .delivery_zone{
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: 1;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@media only screen and (min-width: 310px) and (max-width: 767px){
  #access_card_delivery_zone{
    flex-direction: column;
    align-items: center; 
  }
  #access_card_delivery_zone .delivery_zone .title_line{
    margin: -8px auto;
  }
}
.lower_navigation {
  margin-top: 9px;
  text-align: center;
  font-family: 'Abel';
  font-size: 19px;
  color: bisque;
  
  a {
    text-decoration: none;
    color: bisque;
    
    border: 2px solid #b76228;
    border-radius: 11px;
    padding: 9px;
    background-color: #b76228;
    opacity: 0.9;
    
    margin-left: -17px;
  }
}

#zodiac, #right_now_zodiac {
  color: bisque;
  border: 2px solid black;
  border-radius: 22px;
  width: 200px;
  height: 340px;
  background-color: black;
  opacity: 0.8;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  
  .zodiac_selection {
    display: block;
    margin-top: 17px;
    text-decoration: none;
    background-color: bisque;
    padding: 18px;
    border: 2px solid bisque;
    border-radius: 11px;
    color: #0D1452;
    
    img.sign_icon {
      width: 35px;
      border-radius: 0px;
      float: left;
    }
  }
  
  .zodiac_selection:first-of-type {
    img {
      float: right;
    }
  }
}

#zodiac_center_holder {
  display: flex;
  justify-content: center;
}

div#right_now_zodiac {
  a.zodiac_selection {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    
    img.card_icon {
      width: 35px;
      margin-top: -5px;
      opacity: 1;
    }
  }
}

.buy-button {
  text-align: center;
  margin-top: 4%;
  margin-bottom: 2%
}

@media screen and (min-width: 320px) and (max-width: 768px){
  .buy-button {
    text-align: center;
    margin-top: 9%
  }
}

.widget_heading_3 {
border: 2px solid black;
border-radius: 11px;
background-color: black;
opacity: 0.8;
  
  #widget_title_3 {
    text-align: center;
    color: bisque;
    text-shadow: 0px 5px 4px #448;
  }
  
  #widget_instructions_3 {
    text-align: center;
    color: bisque;
    text-shadow: 0px 3px 4px #448;
    // font-size: 18px;
  }
}
#widget_instructions_3 br {
  display: none;
}

@media screen and (max-width: 600px) {
  #widget_instructions_3 br {
    display: block;
  }
}
@media only screen and (max-width: 767px) {

  #widget_title_3 {
    font-size: 36px;
  }
  #widget_instructions_3 {
    font-size: 23px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1900px) {
  .widget_heading_3 {
    margin: 14px 24% 14px 24%;

  #widget_title_3 {
    font-size: 35px;
  }
  #widget_instructions_3 {
    font-size: 22px;
  }
}
}