.wobble {
  animation: shake 0.5s;
  animation-iteration-count: 1;
}

.claim-button {
  background-color: #e8830c;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  }

.claim-button:hover {
  background-color: #F7C610;
  }

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.delivery_zone{
  padding-top: 40px;
  width: 50%;
}

.prompt_zone{
  width: 50%;
  padding-top: 40px;
  text-align: center;
}

#guidance_zone{
  display: flex;
}

.body {
  background-image: asset-url('StarField.jpg');
  background-size: cover;
}

.pad{
  padding-top: 7px;
  text-align: center;
}

h2{
  text-align: center;
}

.image-slider{
  align: justify;
  display: block;
  width: 100%;
  height: auto;
}

.owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: rgb(230, 144, 15) !important;
  display: block;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: rgb(32, 10, 226) !important;
  border: 1px solid black;
}

.owl-item{
  text-align: justify;
}

.wrapper .owl-nav{
  color: rgba(13, 2, 117, 0.993);
}

.wrapper .owl-prev, .wrapper .owl-next{
  top: 10%;
  border-radius: 100%;
  font-weight: bold;
}

.wrapper .owl-prev{
  top: 25px;
}

.wrapper .owl-next{
 top: 25px;
  }

.carousel_style{
 padding-left: 0px;
}

.owl-nav, button.owl.owl-next,button.owl.prev{
 font-size: 30px;
}
.carousel_size{
  font-size: 40px;
}
.constant{
  align-items: center;
  padding-left: 0px;
}

.highlight {
  box-shadow: 0px 0px 10px 3px white;
}

.pane_guidance{
  display: inline-block;
  border: 1px solid black;
  border-radius: 50px;
  padding: 20px 35px;
  margin: 10px 20px 20px -1px;
  // padding-left: 10px;
  width: 270px;
  height: 1000px;
  background-color: rgba(255, 255, 255, 0.93);
  }

.prompt_heading {
  color: antiquewhite;
  border: 2px solid black;
  border-radius: 11px;
  background-color: black;
  opacity: 0.8;
  margin: 10px 22% 6px 19%;
  text-align: center;

  #prompt_title {
    font-size: 2em;
    text-align: center;
    color: bisque;
    text-shadow: 0px 5px 4px #448;
  }

  #prompt_instructions {
    text-align: center;
    color: bisque;
    text-shadow: 0px 3px 4px #448;
    }
}

.source_cards_card_design {
  width: 250px;
}
.wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  }

@media only screen and (min-device-width: 300px) and (max-device-width: 767px){
  .guidance_prompt_media{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .guidance_show_media{
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .add_height {
      height: 1070px;
      padding-right: 170px;

    }
    .pane_guidance{
      width: 265px;
      background-color: rgba(255, 255, 255, .93);
      color: black
    }
    .prompt_heading{
      font-size: 30px;
      margin: 10px 2% 6px 2%;
    }

}

@media only screen and (min-width: 250px) and (max-width: 767px){
  .guidance_prompt_media{
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .guidance_show_media{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .widget_heading{
    margin: 15px 3% 10px 3%
  }
  .add_height {
    height: 1070px;
    padding-right: 170px;

  }
  .pane_guidance{
    width: 265px;
    background-color: rgba(255, 255, 255, .93);
    color: black

  }
  .prompt_heading{
    margin: 10px 2% 6px 2%;
    font-size: 30px;
  }

}
.button_daily_card{

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7px;
  a.lunar_navigation{
    margin-bottom: 16px;
    padding: 5px 14px;

  }


}
#new_url_source_card  {
  margin-top: 30px;
  width: 224px;
}
.new_source_card {
  background-color: #335276;
  color: white;
  border: 2px solid #fff;
  transition: all 0.3s;
}

.new_source_card :hover{
  cursor: pointer;
  background-color: #fff;
  color: #335276;
  border: 2px solid #335276;
}


