.test {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: 1;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


.delivery_zone{
    padding-top: 40px;
    text-align: center;
}
.prompt_zone{
  width: 25%;
  padding-top: 40px;
  text-align: center;  
}

#guidance_zone{
    display: flex;
    justify-content: flex-start;

  }
@media(min-width: 310px) and (max-width: 767px){
        #guidance_zone{
        flex-direction: column;
        align-items: center;
        }
}
.body {

    background-image: asset-url('StarField.jpg');
    background-size: cover;
}
#pad{
  padding-top: 20px
}
h2{text-align: center;}
.image-slider {
      align: justify;
      display: block;
      width: 100%;
      height: auto;
          }
.owl-nav {

}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #ff7b00 !important;
  }
.constant{
    align-items: center;
    }
.pane{    
  padding-left: 10px;
  width: 235px;
  height: 750px;
  background-color: rgba(255, 255, 255, 0.75);
  }

.owl-item{
    text-align: justify;
  }

  .prompt_heading {
    color: antiquewhite;
    border: 2px solid black;
    border-radius: 11px;
    background-color: black;
    opacity: 0.8;
    margin: 10px 22% 4px 25%;

    
    #prompt_title {
      font-size: 2em;
      text-align: center;
      color: bisque;
      text-shadow: 0px 5px 4px #448;
    }
    
    #prompt_instructions {
      text-align: center;
      color: bisque;
      text-shadow: 0px 3px 4px #448;
    }
  }