form.interview {
  padding-bottom: 40px;
  margin-bottom: 30px;
  
  .discussion {
    font-style: italic;
    padding: 10px;
  }
  
  .field, .actions {
    text-align: center;
  }
  
  #interview_thoughts {
    width: 380px;
    height: 100px;
  }
}

#exit_thanks {
  text-align: center;
}

#exit_options {
  margin-top: 25px;
  text-align: center;
  
  #exit_remain {
    color: #E7791F;
    font-size: 1.3em;
  }

  #exit_leave {
    color: #97384B;
    font-size: 0.9em;
  }
}
