// Place all the styles related to the interpretations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.interpretation_sort {
  display: inline-block;
  
  &.card_in_interpretation {
    width: 10%;
  }
  
  &.reading_type_of_interpretation {
    width: 10%;
  }
  
  &.explanation_of_interpretation {
    width: 30%;
  }
}

#interpretation_explanation {
  font-size: 19px;
  font-family: 'Open Sans Condensed';
}

#new_interpretation_button {
  padding: 3px;
  border: 1px solid #419C47;
  border-radius: 3px;
  color: #419C47;
}
