form.interview {
  padding: 40px;
  margin-bottom: 30px;
  
  .discussion {
    font-style: italic;
    padding: 10px;
  }
  
  .field {
    padding: 7px;
  }
  
  .actions {
    text-align: center;
  }
  
  #interview_thoughts {
    margin-left: 20px;
    margin-top: 3px;
    width: 540px;
    height: 100px;
  }
}

#exit_interview {
  width: 86%;
  
  .pane {
    width: 100%;
    height: 750px;
    
    &.back {
      
      div {
        padding-top: 20%;
      }
    }
  }
}

#exit_thanks {
  text-align: center;
}

#exit_options {
  margin-top: 25px;
  text-align: center;
  
  #exit_remain {
    color: #E7791F;
    font-size: 1.3em;
  }

  #exit_leave {
    color: #973909;
    font-size: 1.3em;
  }
}
