@media (max-width : 667px) {
  .birthday {
    width: 340px;
  }
  
  #landing {
    
    .landing_table {
      display: block;
    }
    
    #new_players {
      width: 340px;
      display: block;
    }
    
    #returning_players {
      margin: 20px;
      
      form#new_member {
        input {
          margin-left: 26px;
        }
        
        input[type="checkbox"] {
          margin-left: 70px;
          margin-bottom: 15px;
        }
        
        input[type="submit"] {
          margin-left: 0px;
        }
        
        label {
          padding-left: 34px;
        }
      }
    }
  }
}
