@media (max-width : 667px) {
  .birthday {
    width: 340px;
  }
  
  #landing {
    
    #new_players {
      width: 180px;
      display: block;
      
      header.call_to_action b {
        font-size: 1.3em;
      }
      
      input[type="submit"] {
        margin-top: 30px;
        width: 80%;
      }
    }
    
    #returning_players {
      margin: 20px;
      width: 180px;
      height: auto;
      
      form#new_member {
        input {
          width: 90%;
        }
        
        input[type="checkbox"] {
          width: 10%;
          margin-bottom: 15px;
        }
        
        input[type="submit"] {
          font-size: 0.7em;
          margin-left: 0px;
        }
      }
    }
  }
}
