@media (max-width : 667px) {
  .birthday {
    width: 340px;
  }
  
  #landing {
    
    .landing_table {
      display: block;
    }
    
    #new_players {
      width: 340px;
      display: block;
    }
  }
}
