.submission form input{
  font-size: 20px;
  border-radius: 5px;
  padding: 10px;
}

.submission form input[type="submit"]{
  background-color: #335276;
  color: white;
  border: 2px solid #fff;
  transition: all 0.3s;
}

.submission form input[type="submit"]:hover{
  cursor: pointer;
  background-color: #fff;
  color: #335276;
  border: 2px solid #335276;
}

#new_birthday input[type="submit"] {
  margin-top: 30px;
  width: 224px;
}
@media only screen and (max-width: 242px) {
  #new_birthday input[type="submit"] {
    margin-top: 30px;
    width: 165px;
  }
}
