form.member_signup_credential_entry {
  input {
    font-size: 1.0em;
    line-height: 1.5em;
    width: 90%;
    margin-bottom: 15px;
  }
  
  input#submit {
    cursor: pointer;
  }
  
  label.error {
    display: block;
    padding-left: 10px;
  }
}

span.terms {
  font-size: 0.8em;
}

#landing {
  text-align: center;
}

#new_players {
  display: inline-block;
  vertical-align: top;
  margin: 20px;
}

#returning_players {
  font-size: 1.5em;
  text-align: center;
  margin: 20px;
  display: inline-block;
}

.flip_over {
  margin-top: 18px;
  margin-bottom: 5px;
}
