form.member_signup_credential_entry {
  padding-left: 12px;

  input {
    margin-left: 10px;
    font-size: 1.0em;
    line-height: 1.5em;
    width: 50%;
  }
  
  input#submit {
    cursor: pointer;
  }
  
  label.error {
    display: block;
    padding-left: 10px;
  }
}
