a.lunar_navigation {
  padding: 8px 20px;
  border-radius: 5px;
  font-size: 20px;
  text-decoration: none;
//  text-transform: uppercase;
  color: white;
  background-color: #e8830c;
  transition: all 0.6s;
  
  &:hover {
    background-color:  #F67C4C; //#D8812D;
    cursor: pointer;
  };
}

form#new_birthday {
  text-align: center;
  
  #look_up_cta {
    font-size: 1.5em;
    padding-bottom: 12px;
  }
  
  select {
    -webkit-appearance: none;
    height: 40px;
    font-size: 22px;
    padding: 5px
  }
}

#signup {
  text-align: center;
  
  form.member_signup_credential_entry {
  
    input {
      font-size: 1.0em;
      line-height: 1.5em;
      width: 90%;
      margin-bottom: 15px;
    }
  
    input#submit {
      cursor: pointer;
    }
  
    label.error {
      display: block;
      padding-left: 10px;
    }
  }
}

span.terms {
  font-size: 0.8em;
}

#password_control {
  text-align: center;
  min-height: 600px;
}

header {
  font-size: 1.5em;
  font-weight: bold;
}

header.call_to_action {
  font-size: 1.1em;
  font-weight: normal;
}

#container {
  display: table;
}

#landing {
  display: table-row;
}

.landing_table {
  display: table-cell;
  width: 42%;
  text-align: center;
}

#new_players {
  vertical-align: top;
  margin: 20px;
  
  #new_players_header {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  header {
    margin-bottom: 15px;
  }
}

#returning_players {
  position: relative;
  right: 0;
  top: 0;
  text-align: center;
  margin: 20px;
  
  form#new_member {
    text-align: left;
    
    input {
      margin: 22px 0px 8px 0px;
    }
    
    label {
      font-size: 16px;
    }
    
    .actions {
      text-align: center;
      
      #login_submit_button {
//        font-size: 20px;
        margin-top: 0px;
      }
    }
  }
}

input.spacious {
  padding: 2px;
  border: 1px solid #bbb;
  border-radius: 5px;
  font-size: 20px;
//  font-family: 'Roboto Condensed';
  color: #4e4e4e;
  background-color: #fff;
}

.flip_over {
  margin-top: 19px;
  margin-bottom: 5px;
}
