<p>Follow this link to update your password for the Players Club on LifeElevated.life/players</p>

<p><%= link_to 'Set new password', "http://lifeelevated.life/players?reset_password_token=#{@token}" %></p>

<p>If you have any trouble resetting your password, please contact <%= ENV['CUSTOMER_SUPPORT_EMAIL_ADDRESS'] %>.</p>

<p>Thank you!</p> <br>
Your Life Elevated Teammates

