
<%= form_for Birthday.new do |birthday_form| %>
  <div id="look_up_cta">
    Look up your Birth Card<br>
    Unlock the secrets to a better life.
  </div>
  <%= birthday_form.date_select :date, :start_year => 1900 %>
  <%= birthday_form.submit 'Go' %>
<% end %>

<div id="results">
</div>
